<a href="https://colab.research.google.com/github/knazran/python-for-analytics/blob/master/Programing_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Programming Exercise 1

We will be going through fundamental concepts of programming...in Python!

The concepts we will be going through:


1.   Variables
2.   Data types
3.   Functions
4. Conditionals
5. Data Structures
6. Loops

This environment and its exercises are split into different blocks of code.
Press 'Shift + Enter' to execute the block you are in to run the code

#### BUT FIRST

Go on and print your 'Hello World!'

In [1]:
print("Hello World")

Hello World

In [0]:
# Try printing your own message
print("My message here")

# Variables - The name of things

A variable is a small box to contain a value. This value can be a number, a character, or a string. But it is a basic box.

To create and assign variables in Python,

In [0]:
x = 10 # Variable x is a number 10
y = 'a' # Variable y is a character 'a'
thisIsAVariableToo = 'Simple right?' # Variable thisIsAVariableToo is a string 'Simple right?'

In [3]:
# printing 'x' will show the number 10
x = 10 # Variable x is a number 10
print(x)

10


Variables can be passed around and reassigned.

In [4]:
x = 10 # Set x to be 10
y = x # Set x to be y
print(y) # y is 10!

x = 2020 # reassign x to be 2020
print(x) # x is 2020!

10
2020

Note: variable names in python CAN NOT have spaces or dashes

Use underscores, `like_this` or camel case, `likeThis` for long variable names

### Input and Output

So far, we know how to output a variable using 'print'
How do we get a value into a variable?

We use `input()`

Trying running the block below and typing your input in

In [5]:
input()

Test

'Test'

We can use `input()` and pass the value to a variable

In [8]:
our_value = input()
print("This is {}".format(our_value)) # Don't worry if you don't understand this

asd
wewq
This is asd

### Exercise 1



1.   Create a variable `input_x` which asks for user input
2.   Print out `input_x`
3. Assign `input_x` to `same_input`

In [0]:
# YOUR CODE STARTS HERE 

print("same_input is also {}!".format(same_input))

# Data type - The Characteristic of Things

Data type defines the characteristics of a value. A number has different characteristic and nature than a letter.

Common data types:


1.   Integers (int)
2.   General numbers, with decimals (float)
3. Words, letters (string)

Every variable has a data type. 

To inspect a variable's data type, use `type(x)` where x is your variable

In [11]:
x = "Hello world"
print(type(x)) # Should show 'str'

<class 'str'>

In [12]:
y = 10
print(type(y)) # Should show 'int'

<class 'int'>

In [13]:
y = 3.5
print(type(y)) # Should show 'float'

<class 'float'>

Behavior differs based on its data type

In [17]:
x1 = 10
x2 = 10
print(type(x1))
print(type(x2))
x1 + x2 # Also, common math operations are avaiable in Python too. Variables can interact with these operations

<class 'int'>
<class 'int'>

20

In [16]:
y1 = "10" # If you realized, strings have quotes ("") around them
y2 = "10"
print(type(y1))
print(type(y2))
y1 + y2

<class 'str'>
<class 'str'>

'1010'

# Functions - The Recipes to Do Things

Functions are steps to do something which you can associate with a name.

# Conditionals

# Data Structures

# Loop